[Desktop Entry]
Name=Cosmic yt-dlp applet
Exec=cosmic-applet-yt-dlp-dixycat %F
Terminal=false
Type=Application
StartupNotify=true
Icon=multimedia-video-player-symbolic
Categories=COSMIC;
Keywords=COSMIC
MimeType=
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto